<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Add potential sources for Community.PowerToys.Run.Plugin.Dependencies -->
    <add key="github" value="https://nuget.pkg.github.com/microsoft/index.json" />
    <add key="powertoys" value="https://pkgs.dev.azure.com/ms/PowerToys/_packaging/PowerToys/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>
